@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,800&display=swap');


body {
    margin: 0;
    padding: 0;    
}


/*------Nav bar styling------*/
nav{
    background-color: #f0e965cb;
    font-family: Lora, serif;
    font-weight: 600;
    font-size: 25px;s
}

.navbar {
    padding: 5px 15px;
    margin-bottom: 0;
}



/*------Menu-bar styling------*/
nav a {
    border-radius: 25px;
    font-size:15px;
}

nav .active{    
    color: #595959;
    border:solid 2px #5959599f;
}

.navbar-nav a:hover {
    color: #f0e965cb;
    background-color: #5959599f; 
}


.navbar-toggler-icon {
    display: inline;
}

.fa.fa-bars {font-size: 50px;}

.navbar-style{
    color: #595959;
    font-size: 1.2rem;
}

/*------Nav Icon styling------*/
.navbar-brand{
    color: #595959;
    font-size:  2rem;
}

.navbar-brand i:hover{color: #f0e965cb;
    background-color: #5959599f; 

}

nav a:hover{color: #5959599f;
    background-color: #f0e9652f; 

}

.fa-border {
    border-radius: 50%;
    border-color: #595959;
}

#business-name {
    font-family: 'open sans' sans-serif;
    font: weight 400;
    font-size: 25px;
}

/*------NavBar Text styling------*/
.navbar-text {
font-family: Lora, serif;
    font-weight: 800;
    font-size: 25px;
    font-style: oblique;
}


/*--footer ----------*/
footer{
    border: 2px solid #e65858;
  
}

